@import url("https://fonts.googleapis.com/css?family=Roboto+Slab");

html {
    --background-color: #444444;
    --forground-color: #777777;

    --border-color: #333333;
    --border-thickness: 3px;
    --border-radius: 20px;

    --text-font: "Roboto Slab";
    --text-color: #ffffff;

    --link-color: #2828ff;
    --link-hover-color: #2222d8;
}

html,
head,
body {
    margin: 0px;
    padding: 0px;

    width: 100%;
    height: 100%;

    font-family: var(--text-font), sans-serif;
    color: var(--text-color);
}

html {
    background: var(--background-color);
}

#main {
    background: var(--forground-color);
    border: var(--border-thickness) solid var(--border-color);
    border-radius: var(--border-radius);

    width: 60%;

    margin: 3% 1% 3% 1%;
    padding: 2%;

    float: left;
    text-align: center;
}

#page-contents {
    background: var(--forground-color);
    border: var(--border-thickness) solid var(--border-color);
    border-radius: var(--border-radius);

    width: 10%;

    margin: 3% 3% 3% 1%;
    padding: 2%;

    float: left;
    text-align: center;
}

#sidebar-embed {
    background: var(--forground-color);
    border: var(--border-thickness) solid var(--border-color);
    border-radius: var(--border-radius);

    width: 10%;
    height: 80vh;

    margin: 3% 1% 3% 3%;
    padding: 2%;

    float: left;
    text-align: center;
}

html#sidebar,
html#sidebar>head,
html#sidebar>body {
    background: var(--forground-color);

    padding: 0px;
    margin: 0px;

    overflow: hidden;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

p {
    font-size: 15px;
}

a {
    font-size: 16px;
    text-decoration: underline;

    color: var(--link-color)
}

a:hover {
    color: var(--link-hover-color)
}

a:active {
    color: var(--link-color)
}