@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400..900");

html {
    --background-color: radial-gradient(#ffffff 25%, #e0e0e0 75%);
    --foreground-color: #f7f7f7;

    --border-color: #d1d1d1;
    --border-thickness: 3px;
    --border-radius: 20px;

    /* --dropdown-color: #5c5c5c;
    --dropdown-border-color: #333333;
    --dropdown-border-thickness: 2.5px;
    --dropdown-border-radius: 14px; */

    --text-font: "Roboto Slab";
    --text-color: #000000;

    --link-color: #1726ff;
    --link-hover-color: #000dc9;
}

html.darkmode {
    --background-color: radial-gradient(#555555 25%, #444444 75%);
    --foreground-color: #6b6b6b;

    --border-color: #333333;

    /* --dropdown-color: #5c5c5c;
    --dropdown-border-color: #333333; */

    --text-color: #fcfcfc;
}

html,
head,
body {
    margin: 0px;
    padding: 0px;

    width: 100%;
    height: 100%;

    background: var(--background-color);

    font-family: var(--text-font), sans-serif;
    color: var(--text-color);
}

#main {
    background: var(--foreground-color);
    border: var(--border-thickness) solid var(--border-color);
    border-radius: var(--border-radius);

    width: 55%;

    margin: 3% 1% 3% 1%;
    padding: 2%;

    float: left;
    text-align: center;
}

#navbar {
    background: var(--foreground-color);
    border: var(--border-thickness) solid var(--border-color);
    border-radius: var(--border-radius);

    width: 15%;
    height: 80vh;

    margin: 3% 1% 3% 5%;
    padding: 1% 0% 1% 1%;

    float: left;
    text-align: center;
}

#sidebar {
    width: 100%;
    height: 90%;

    margin: 0%;
    padding: 0%;

    overflow-y: auto;
}

/* .dropdown {
    background: var(--dropdown-color);

    border: var(--dropdown-border-thickness) solid var(--dropdown-border-color);
    border-radius: var(--dropdown-border-radius);

    padding: 10%;
    margin: 3% 0px;
}

.dropdown .dropdown-element {
    display: none;
}

.dropdown.open .dropdown-element {
    display: block;
} */

#settings {
    width: 75%;
    height: 30px;

    margin: 12% 0% 0% 0%;
    padding: 0%;
}

#language {
    width: 70%;
    height: 100%;

    float: left;

    margin: 0%;
    padding: 0%;
}

#darkmode {
    width: 25%;
    height: 30px;

    float: right;

    margin: 0%;
    padding: 0%;
}

p,
a,
.dropdown p,
.dropdown p a {
    font-size: 15px;
    font-weight: 450;
}

a {
    text-decoration: none;

    color: var(--link-color)
}

a:hover {
    text-decoration: underline;

    color: var(--link-hover-color)
}

a:active {
    color: var(--link-color)
}

h1,
h1 p,
h1 a {
    font-size: 50px;
}

h2,
h2 p,
h2 a {
    font-size: 40px;
}

h3,
h3 p,
h3 a {
    font-size: 24px;
}

h4,
h4 p,
h4 a {
    font-size: 18px;
}