/*
    Settings
*/

html {
    --text-font: "noto-serif", "ui-serif", "serif";
}

html.lightmode {
    --background-color: radial-gradient(#ffffff 25%, #e0e0e0 75%);
    --foreground-color: #f7f7f7;

    --border-color: #d1d1d1;

    --text-color: #000000;
    --link-color: #1726ff;
    --link-hover-color: #000dc9;
}

html.darkmode {
    --background-color: radial-gradient(#555555 25%, #444444 75%);
    --foreground-color: #6b6b6b;

    --border-color: #333333;

    --text-color: #fcfcfc;
    --link-color: #1726ff;
    --link-hover-color: #000dc9;
}

/*
    Loading
*/

body.loading {
    display: none;
    opacity: 0%;
}

body.loaded {
    animation: fade-in 1s ease-in 0s;
}

/*
    Content
*/

html,
head,
body {
    width: 100vw;
    height: 100vh;

    margin: 0px;
    padding: 0px;

    background: var(--background-color);
    color: var(--text-color);

    font-family: var(--text-font);
}

#main {
    background: var(--foreground-color);
    border: 2px solid var(--border-color);
    border-radius: 22px;

    width: calc(58vw - 4px);
    /* 64% total */

    margin: 3vh 1vw 3vh 1vw;
    padding: 2vh 2vw 2vh 2vw;

    float: left;
    text-align: center;
}

#sidebar-parent {
    background: var(--foreground-color);
    border: 2px solid var(--border-color);
    border-radius: 22px;

    width: calc(16vw - 4px);
    /* 20% total */
    height: calc(80vh - 4px);

    margin: 3vh 1vw 3vh 2vw;
    padding: 1vh 0vw 1vh 1vw;

    float: left;
    text-align: center;
}

#sidebar {
    width: 100%;
    height: calc(100% - 60px);

    margin: 0%;
    padding: 0%;

    overflow-y: scroll;
    scrollbar-width: thin;
}

#settings {
    width: 95%;
    height: 30px;

    margin: 20px 0% 0% 0%;
    padding: 0%;
}

#settings>#settings-language {
    width: 75%;
    height: 100%;

    float: left;

    margin: 0%;
    padding: 0%;
}

#settings>#settings-theme {
    width: calc(25% - 2%);
    height: 30px;

    float: right;

    margin: 0% 0% 0% 2%;
    padding: 0%;
}

#settings>#settings-theme>.lightmode,
#settings>#settings-theme>.darkmode {
    width: auto;
    height: 100%;
}

/*
    Text
*/

p,
h1,
h2,
h3,
h4,
tr,
th {
    color: var(--text-color);
}

p,
a,
tr {
    font-size: 15px;
    font-weight: normal;

    text-decoration: none;
}

a,
a:active {
    color: var(--link-color);

    text-decoration: none;
}

a:hover {
    color: var(--link-hover-color);

    text-decoration: underline;
}

h1,
h1 p,
h1 a,
h2,
h2 p,
h2 a,
h3,
h3 p,
h3 a,
h4,
h4 p,
h4 a,
th,
th p,
th a {
    font-weight: bold;
}

h1,
h1 p,
h1 a {
    font-size: 58px;
}

h2,
h2 p,
h2 a {
    font-size: 42px;
}

h3,
h3 p,
h3 a {
    font-size: 24px;
}

h4,
h4 p,
h4 a {
    font-size: 18px;
}

th,
th p,
th a {
    font-size: 16px;
}

/*
    Other
*/

.hidden {
    display: none;
}

.highlight {
    animation: highlight 1600ms ease-in-out 0ms;
}

/*
    Animations
*/

@keyframes fade-in {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes fade-out {
    0% {
        opacity: 100%;
    }

    100% {
        opacity: 0%;
    }
}

@keyframes highlight {
    0% {
        background-color: rgba(255, 235, 20, 0);
        border-radius: 12px;
    }

    20% {
        background-color: rgba(255, 235, 20, 0.6);
        border-radius: 12px;
    }

    100% {
        background-color: rgba(255, 235, 20, 0);
        border-radius: 12px;
    }
}